@model MusicWeb.Models.Genero
@{
    ViewBag.Title = "Browse";
}

<h2>Navegando Genero @Model.Nome</h2>


<ul>
    @foreach (var album in Model.Albums)
    {
        <li>
            @album.Titulo
        </li>
    }
</ul>

