@model IEnumerable<MusicWeb.Models.Genero>


@{
    ViewBag.Title = "Index";
}


<h3 class="well" style="background-color:#428bca; margin-top:80px; color:rgb(255, 255, 255);">Gêneros Musicais</h3>



<div class="container-fluid" style="display:flex;  flex-flow:wrap; justify-content:center;">

    @foreach (var g in Model)
    {
    <div class="container" style="width:auto; margin:10px; height:auto; padding:10px;">
        <img src="@g.UrlImagem" width="180" height="140" style="border-radius:4px;" />
        <br />
        <br />

        <button class="btn btn-primary" style="color:white;
                border-radius:4px; width:180px;" type="button" onclick="location.href='@Url.Action("Browse", "Loja", new {genero = g.Nome })'">
            <span class="glyphicon glyphicon-cd" style="color:white;"></span> @g.Nome
        </button>
    </div>

    }

</div>







<div style="margin-bottom:20px; border-radius:100px; visibility:hidden;">

    <a href='@Url.Action("Index", "Generos/Create")' class="btn"
       style=" font-size:16px; border-radius:100px; background-color:rgba(0, 0, 0, 0.70); color:#5cb85c;">+</a>


</div>

